<h2 mat-dialog-title class="m-0 font-bold">
  {{ isEditMode() ? 'Csoport szerkesztése' : 'Új csoport létrehozása' }}
</h2>

<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography sm:p-6 pb-2">
    <div class="flex flex-col gap-4 mt-2">
      
      <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
        <mat-label>Csoport neve</mat-label>
        <input matInput formControlName="groupName" placeholder="Pl. Családi események" required>
        @if (groupForm.get('groupName')?.hasError('required')) {
          <mat-error>A csoport neve kötelező!</mat-error>
        }
        @if (groupForm.get('groupName')?.hasError('minlength')) {
          <mat-error>Legalább 3 karakter hosszú legyen.</mat-error>
        }
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
        <mat-label>Leírás (opcionális)</mat-label>
        <textarea matInput formControlName="description" rows="4" placeholder="Miről szól ez a csoport?"></textarea>
      </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="p-4 sm:px-6 sm:pb-6 pt-0">
    <button mat-button type="button" (click)="onCancel()" [disabled]="isSubmitting()">Mégsem</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="groupForm.invalid || isSubmitting()">
      @if (isSubmitting()) {
        <div class="flex items-center gap-2">
          <mat-icon class="animate-spin">autorenew</mat-icon>
          <span>{{ isEditMode() ? 'Mentés...' : 'Létrehozás...' }}</span>
        </div>
      } @else {
        <div class="flex items-center gap-2">
          <mat-icon>{{ isEditMode() ? 'save' : 'group_add' }}</mat-icon>
          <span>{{ isEditMode() ? 'Mentés' : 'Létrehozás és Meghívás' }}</span>
        </div>
      }
    </button>
  </mat-dialog-actions>
</form>