@use '@angular/material' as mat;

:host {
  @include mat.button-toggle-overrides((
    selected-state-background-color: var(--app-primary-color),
    selected-state-text-color: var(--app-primary-contrast)
  ));

  .category-transparent-theme {
    @include mat.button-toggle-overrides((
      background-color: transparent,
      selected-state-background-color: transparent
    ));
  }

  @include mat.dialog-overrides((
    headline-padding: 24px 24px 9px 24px, 
  ));
}

.mat-mdc-dialog-title {
  display: flex;
  align-items: center;
}